@use "_mixin" as *;
@use "_destyle";

:root {
  --root-font-size: $baseFontSize;
  --color-bg: #f5f5f5;
  --color-white: #fff;
  --color-subtitle-text: #214269;
  --color-inner-text: #333333;
  --color-accentA: #025DC7;
  --color-back: #EFF8FF;
  // --color-accentB: #E4007F; 後で変更してOK
  font-family: 'Zen Kaku Gothic New', 'Noto Sans JP', "游ゴシック体", YuGothic sans-serif;
  // line-height: 2.2;
  // --letter-spacing-normal: .16rem;
  text-align: justify;
  font-feature-settings: "palt";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-size: rem(16);
  color: var(--color-inner-text);
  -ms-overflow-style: none;/*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  // scrollbar-width: none;/*Firefoxへの対応*/
}
body::-webkit-scrollbar{/*Google Chrome、Safariへの対応*/
  display: inline-block;
}


/***************************************************
card-animation
**************************************************/
.animation {
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-duration: 1.5s;
}
.card {
  animation-name: poyopoyo;
}
@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}
/***************************************************
流れるテキスト1
**************************************************/
/*全共通*/
.slide-in {
  overflow: hidden;
    display: inline-block;
}
.slide-in_inner {
  display: inline-block;
}
/*左右のアニメーション*/
.leftAnime {
    opacity: 0;/*事前に透過0にして消しておく*/
}
.slideAnimeLeftRight {
  animation-name:slideTextX100;
  animation-duration:1s;
  animation-fill-mode:forwards;
  animation-delay: .5s;
  opacity: 0;
}
@keyframes slideTextX100 {
  from {
  transform: translateX(-100%); /*要素を左の枠外に移動*/
  opacity: 0;
  }
  to {
  transform: translateX(0);/*要素を元の位置に移動*/
  opacity: 1;
  }
}
.slideAnimeRightLeft {
  animation-name:slideTextX-100;
  animation-duration:1s;
  animation-fill-mode:forwards;
  animation-delay: .5s;
  opacity: 0;
}
@keyframes slideTextX-100 {
  from {
  transform: translateX(100%);/*要素を右の枠外に移動*/
  opacity: 0;
  }
  to {
  transform: translateX(0);/*要素を元の位置に移動*/
  opacity: 1;
  }
}

/***************************************************
流れるテキスト2
**************************************************/
/*全共通*/

/* 上下のアニメーション*/
.downAnime {
  opacity: 0;/* 事前に透過0 にして消しておく*/
}

.slideAnimeDownUp {
  animation-name:slideTextY100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  animation-delay: .5s;
  opacity: 0;
}

@keyframes slideTextY100 {
  from {
      transform: translateY(30%);/* 要素を上の枠外に移動*/
      opacity: 0;
  }
  to {
      transform: translateY(0);/* 要素を元の位置に移動*/
      opacity: 1;
  }
}

.slideAnimeUpDown {
  animation-name:slideTextY-100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes slideTextY-100 {
  from {
      transform: translateY(-30%);/* 要素を下の枠外に移動*/
      opacity: 0;
  }
  to {
      transform: translateY(0);/* 要素を元の位置に移動*/
      opacity: 1;
  }
}



/***************************************************
// ラジオボタン
**************************************************/
$color1: #f5f5f5;
$color2: #214269;
$color3: #025DC7;

.radio {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $color1;
        border-radius: 2px;
        border: 1px solid darken(#AAAAAA, 25%);
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: -2px;
        margin-right: 8px; 
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color3;
          box-shadow: inset 0 0 0 2.5px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color3;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 2.5px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}



// ここからモバイル版------------------


/***************************************************
main-ttl
**************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 6092.90234375px;
    stroke-dasharray: 6092.90234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6092.90234375px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 6092.90234375px;
    stroke-dasharray: 6092.90234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6092.90234375px;
  }
}

.svg-elem-1 {
-webkit-animation: animate-svg-stroke-1 2s ease-in-out 0s both,
                      animate-svg-fill-1 0.8s ease-in-out 0.5s both;
        animation: animate-svg-stroke-1 2s ease-in-out 0s both,
              animate-svg-fill-1 0.8s ease-in-out 0.5s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 6092.90234375px;
    stroke-dasharray: 6092.90234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6092.90234375px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 6092.90234375px;
    stroke-dasharray: 6092.90234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6092.90234375px;
  }
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(33, 66, 105);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(33, 66, 105);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 2s ease-in-out 0.5s both,
                      animate-svg-fill-2 0.8s ease-in-out 0.6s both;
          animation: animate-svg-stroke-2 2s ease-in-out 0.5s both,
              animate-svg-fill-2 0.8s ease-in-out 0.6s both;
}







.container {
  padding: 64px 16px 0 16px;
  background-repeat: no-repeat;
  position: relative;
}

h2 {
  color: var(--color-subtitle-text);
  text-align: center;
  font-size: rem(24);
  font-weight: 700;
  letter-spacing: rem(4);
  padding-bottom: 64px;
}
h3 {
  font-size: rem(24);
  font-weight: 600;
  letter-spacing: rem(1);
}

.shape1 {
  width:300px;/*横幅*/
  height: 300px;/*縦幅*/
  background:#A1CBED;/*背景色*/
  position: absolute;
  right: 10px;
  top: 100px;
  z-index: -1;
  animation: fluidrotate 20s ease 0s infinite;/*アニメーションの設定*/
  @keyframes fluidrotate {  
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    }
}
.shape2 {
  width:300px;/*横幅*/
  height: 250px;/*縦幅*/
  background:#B1DEEE;/*背景色*/
  position: absolute;
  left: 10px;
  top: 650px;
  z-index: -1;
  animation: fluidrotate 20s ease 0s infinite;/*アニメーションの設定*/
  @keyframes fluidrotate {  
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    }
}
.shape3 {
  width: 300px;
  height: 300px;
  background: #C2C4E2;
  position: absolute;
  left: 100px;
  top: 1130px;
  z-index: -1;
  animation: fluidrotate 20s ease 0s infinite;/*アニメーションの設定*/
  @keyframes fluidrotate {  
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    }
}
.shape4 {
  width:350px;/*横幅*/
  height: 350px;/*縦幅*/
  background:#DCECFF;/*背景色*/
  position: absolute;
  left: 30px;
  top: 1700px;
  z-index: -1;
  animation: fluidrotate 20s ease 0s infinite;/*アニメーションの設定*/
  @keyframes fluidrotate {  
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    }
}



body {
  position: relative;
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
    .container {
      padding: 0 16px;
      .flex-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        img {
          width: 100px;
        }
        ul {
          display: flex;
          column-gap: 16px;
          li {
            display: flex;
            align-items: center;
            column-gap: 4px;
            img {
              width: rem(14);
            }
            a{
              color: var(--color-subtitle-text);
              font-size: rem(12);
              letter-spacing: rem(.4);
              font-weight: 700;
            }
          }
          .btn-wrapper-pc {
            display: none;
          }
        }
      }
      .btn-wrapper {
        color: var(--color-accentA);
        border-radius: 200px;
        border: 1px solid var(--color-accentA);
        box-shadow: 0px 2px 4px 0px rgba(15, 12, 12, 0.25);
        background: #FFF;
        padding: 8px;
        width: fit-content;
        margin-left: auto;
        margin-top: 8px;
        form {
          display: flex;
          column-gap: 10px;
          input {
            font-size: rem(10);
            font-weight: 700;
          }
        }
      }
    }
  }
  main {
    .kv {
      .container { 
        background-image: url(../img/Exclude.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        .main-wrapper1 {
          padding: 64px 0 40px 0;
          h1 {
            color: var(--color-subtitle-text);
            text-align: center;
            text-shadow: 2px 2px 0px var(--color-white);
            font-size: rem(40);
            font-style: normal;
            font-weight: 900;
            line-height: 75px;
            letter-spacing: rem(6.4);
          }
          .main-ttl {
            width: 90%;
            max-width: 400px;
            display: block;
            margin: 0 auto;
          }
          .card {
            width: 60%;
            padding-top: 40px;
            margin: 0 auto;
            display: block;
          }
        }
        .main-wrapper2 {
          padding-bottom: 64px;
          .inner-box {
            border-radius: 50px;
            background: var(--color-accentA);
            box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.10);
            padding: 8px 24px;
            width: fit-content;
            margin: 0 auto;
            p {
              color: var(--color-white);
              font-size: rem(14);
              font-weight: 400;
              letter-spacing: rem(2);
              padding: 0;
            }
          }
          img {
            width: rem(200);
            display: block;
            margin: 0 auto;
            padding: 40px 0;
          }
          .kv-tex {
            color: #777777;
            font-weight: 400;
            line-height: rem(32);
            letter-spacing: rem(.6);
          }
        }
      }
    }
  .kv-pc {
    display: none;
  }
  .feature {
    .container {
      background-image: url(../img/Feature.svg);
      background-size: 300px auto;
      background-position: center 30px;
      margin-bottom: 64px;
      .feature1,.feature2,.feature3,.feature4 {
        display: block;
        max-width: 250px;
        width: 70%;
        margin: 40px auto -16px auto;
      }
      .text-box {
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 2px 4px 0px rgba(15, 12, 12, 0.25);
        padding: 40px 16px;
        h3 {
          color: var(--color-subtitle-text);
          padding-bottom: 24px;
          .sub-ttl {
            color: #CCCCCC;
            font-weight: 500;
          }
        }
        p {
          line-height: 2;
          letter-spacing: rem(1.6);
        }
        .sns-icon {
          display: block;
          width: 100%;
          max-width: 350px;
          margin: 24px auto 0 auto;
        }
      }
    }
  }
  .problem {
    background-color: var(--color-back);
    .container {
      background-image: url(../img/Problem.svg);
      background-size: 360px auto;
      background-position: center 30px;
        h3 {
          color: #FFF;
          text-align: center;
          background-color: var(--color-accentA);
          padding: 16px 0;
          border-radius: 30px 30px 0 0;
        }
        .inner-box {
          background-color: #FFF;
          padding: 0 16px 40px 16px;
          margin-bottom: 64px;
          img {
            width: 100%;
            max-width: 350px;
            display: block;
            margin: 0 auto;
            padding: 40px;
          }
          p {
            color: var(--color-inner-text);
            font-size: rem(16);
            line-height: rem(32);
            font-weight: 400;
            letter-spacing: rem(1.6);
            padding: 0;
            text-align: left;
          }
        }
      }
      p:last-child {
        text-align: center;
        color: var(--color-subtitle-text);
        font-size: rem(24);
        font-weight: 600;
        letter-spacing: rem(1);
        padding-bottom: 64px;
      }
    }

  .how {
    .container {
      background-image: url(../img/How\ To\ Use.svg);
      background-size: 400px auto;
      background-position: center 40px;
      h2 {
        color: var(--color-subtitle-text);
      }
      h3 {
        text-align: center;
        padding-bottom: 64px;
      }
      .flex-wrapper {
        .inner-box {
          img {
            width: 200px;
            display: block;
            margin: 0 auto;
          }
          h3 {
            color: var(--color-subtitle-text);
            padding: 40px 0 24px 0;
          }
          p {
            font-size: rem(16);
            line-height: rem(32);
            font-weight: 400;
            letter-spacing: rem(1.6);
            padding-bottom: 64px;
          }
        }
      }
    }
  }
  .about {
    background-color: var(--color-back);
    .container-pc {
      display: none;
    }
    .container {
      background-image: url(../img/About.svg);
      background-size: 200px auto;
      background-position: center 30px;
      .flex-wrapper {
        padding-bottom: 64px;
        .inner-flex-box {
            .inner-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              column-gap: 8px;
              padding-bottom: 40px;
              img {
                width: 50px;
                margin: 0;
              }
            }
        }
        img:nth-child(2) {
          width: 70%;
          max-width: 350px;
          margin: 0 auto;
          display: block;
          mix-blend-mode: multiply;
          padding-bottom: 24px;
        }
        p {
          color: var(--color-subtitle-text);
          font-size: rem(20);
          font-weight: 600;
          letter-spacing: rem(1);
          line-height: 2;
          text-align: center;
          padding-top: 24px;
        }
        .inner-text {
          color: var(--color-inner-text);
          font-size: rem(18);
          font-weight: 400;
          letter-spacing: rem(1);
          line-height: 2;
          text-align: left;
          padding-top: 16px;
        }
      }
      .flex-wrapper:last-child {
        padding-bottom: 64px;
        .inner-flex-box {
          img {
            width: 300px;
          }
          .inner-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            padding-bottom: 40px;
            img {
              width: 50px;
              margin: 0;
              padding: 0;
            }
            h3 {
              letter-spacing: 40px;
            }
          }
        }
        .text-box {
          p {
            color: var(--color-inner-text);
            font-size: rem(20);
            font-weight: 500;
            letter-spacing: rem(1);
            line-height: rem(40);
            text-align: center;
            padding-top: 24px;
          }
          .inner-text-box {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              text-align: center;
              font-weight: 500;
              letter-spacing: rem(4);
            }
            span:nth-child(1) {
              font-size: rem(32);
              font-weight: 800;
            }
            span:nth-child(2) {
              font-size: rem(48);
              font-weight: 800;
            }
          }
        }
      }
    }
  }
  .order {
    .container {
      background-image: url(../img/Order.svg);
      background-size: 200px auto;
      background-position: center 30px;
      .order-text {
        font-size: rem(14);
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 4px;
        padding-bottom: 40px;
      }
    }
    .flex-wrapper {
      form {
        .inner-flex-box {
          width: 100%;
          display: table;
          table-layout: fixed;
          padding-bottom: 24px;
          dt {
            letter-spacing: rem(2);
            display: table-cell;
            font-size: rem(14);
          }
          dd {
            margin-left: 0;
            .radio:nth-child(2) {
              margin: rem(24) 0;
            }
            input,select {
              border: .5px solid #AAAAAA;
              border-radius: 5px;
              padding: 16px;
            }
            .name1 {
              margin-bottom: 10px;
            }
            label {
              line-height: 1.5;
              letter-spacing: 2px;
              a {
                color: var(--color-accentA);
              }
            }
          }
        }
        .inner-flex-box:nth-child(2),
        .inner-flex-box:nth-child(3),
        .inner-flex-box:nth-child(4),
        .inner-flex-box:nth-child(5),
        .inner-flex-box:nth-child(6),
        .inner-flex-box:nth-child(7) {
          display: block;
          dt {
            padding-bottom: 16px;
          }
          dd {
            width: 100%;
            input {
              width: 100%;
            }
          }
        }
        .inner-flex-box:nth-child(4),
        .inner-flex-box:nth-child(6) {
          dd {
            width: 100vw;
            input {
              width: 100px;
            }
          }
        }
        .inner-flex-box:nth-child(8) {
          dd {
            display: flex;
            align-items: center;
            column-gap: 8px;
          }
        }
        .submit-btn {
          margin: 0 auto 64px auto;
          display: flex;
          align-items: center;
          border-radius: 200px;
          border: 1px solid var(--color-accentA);
          background: #FFF;
          padding: 8px 16px;
          width: -moz-fit-content;
          width: fit-content;
          box-shadow: 0px 2px 4px 0px rgba(15, 12, 12, 0.25);
          input {
            font-size: rem(12);
            font-weight: 500;
            letter-spacing: rem(10);
            color: var(--color-accentA);
          }
          img {
            width: 10px;
          }
        }
      }
    }
  }
  .question {
    background-color: var(--color-back);
    .container {
        background-image: url(../img/Question.svg);
        background-size: 360px auto;
        background-position: center 30px;
      .read-more{
        padding-bottom: 64px;
      .txt-show {
        /*=========================アコーディオンのためのcss
        /*アコーディオン全体*/
        .accordion-area {
          li {
            margin-bottom: 24px;
          .flex-wrapper {
            border-bottom: 2px dotted var(--color-inner-text);
            padding-bottom: 24px;
            .inner-box1 {
              display: flex;
              justify-content: flex-start;
                /*アコーディオンタイトル*/
                .title {
                  position: relative;/*+マークの位置基準とするためrelative指定*/
                  cursor: pointer;
                  font-size:1rem;
                  font-weight: 500;
                  padding: 16px 24px;
                  letter-spacing: 2px;
                  }
                .down {
                  width: 16px;
                  transform: rotate(-180deg);
                  margin-left: auto;
                }
                .down.active {
                  transform: rotate(0deg);
                }
              }
              /*アコーディオンで現れるエリア*/
            .inner-box2 {
              display: flex;
              align-items: flex-start;
              column-gap: 16px;
              padding: 24px 0;
              img {
                width: 30px;
                display: block;
              }
              p {
                line-height: 24px;
                letter-spacing: 2px;
                font-weight: 500;
              }
            }
            }
          }
          li:last-child {
            margin-bottom: 0;
          }
        }
      }
      .txt-hide {
        .accordion-area {
          li {
            margin: 40px 0; 
            .flex-wrapper {
              margin:0 auto;
              width: 100%;
              max-width: 900px;
              border-bottom: 2px dotted var(--color-inner-text);
              padding-bottom: 24px;
              .inner-box1 {
                display: flex;
                justify-content: flex-start;
                /*アコーディオンタイトル*/
                .title {
                  position: relative;/*+マークの位置基準とするためrelative指定*/
                  cursor: pointer;
                  font-size:1rem;
                  font-weight: 500;
                  padding: 16px 24px;
                  letter-spacing: 2px;
                  }
                .down {
                  width: 16px;
                  transform: rotate(-180deg);
                  margin-left: auto;
                }
                .down.active {
                  transform: rotate(0deg);
                }
                }
                /*アコーディオンで現れるエリア*/
              .inner-box2 {
                display: flex;
                align-items: flex-start;
                column-gap: 16px;
                padding: 24px 0;
                img {
                  width: 30px;
                  display: block;
                }
                p {
                  font-weight: 500;
                  line-height: 24px;
                  letter-spacing: 2px;
                }
                }
              }
          }
        }
      }
      // さらに表示*************
      .txt-hide{
      display: none;
      }
      button.more {
      font-size: rem(14);
      letter-spacing: 2px;
      white-space: nowrap;
      font-weight: 500;
      width: 140px;
      display: block;
      color: var(--color-inner-text);
      padding:16px;
      border: none;
      outline: 0;
      transition: .1s;
      -webkit-transition: .1s;
      margin-left: auto;
      }
      button.more::after {
      content: "さらに表示";
      transition: .1s;
      -webkit-transition: .1s;
      }
      button.more.on-click::after{
      content: "閉じる";
      }
        // ****************
    }
  }
  }
  .company {
    padding-bottom: 64px;
    .container {
      background-image: url(../img/Company.svg);
      background-size: 360px auto;
      background-position: center 30px;
      p {
        letter-spacing: rem(2);
        line-height: 2;
      }
      .flex-wrapper {
        img {
          display: block;
          width: 80px;
          margin: 0 auto 64px auto;
          }
        .inner-flex-wrapper {
          display: table;
          table-layout: fixed;
          padding: 16px 0;
          dt {
            display: table-cell;
            width: 120px;
            }
          dd {
            display: table-cell;
            width: 300px;
            a {
              color: var(--color-accentA);
            }
            }
          }
        }
      }
    }
  }
  footer {
    .container {
      background-color: var(--color-accentA);
      padding: 40px;
      .flex-wrapper {
        display: flex;
        justify-content: center;
        column-gap: 80px;
        text-align: center;
        color: var(--color-back);
      }
      small {
        color: var(--color-back);
        display: block;
        text-align: center;
        padding-top: 24px;
      }
    }
  }
}

// ここからPC版------------------

@media screen and (min-width: 960px) {


/***************************************************
main-svg
 **************************************************/



.shape1 {
  width:600px;/*横幅*/
  height: 600px;/*縦幅*/
  background:#A1CBED;/*背景色*/
  position: absolute;
  right: 10px;
  top: 500px;
  z-index: -1;
  animation: fluidrotate 20s ease 0s infinite;/*アニメーションの設定*/
  @keyframes fluidrotate {  
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    }
}
.shape2 {
  width:300px;/*横幅*/
  height: 250px;/*縦幅*/
  background:#B1DEEE;/*背景色*/
  position: absolute;
  left: 10px;
  top: 850px;
  z-index: -1;
  animation: fluidrotate 20s ease 0s infinite;/*アニメーションの設定*/
  @keyframes fluidrotate {  
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    }
}
.shape3 {
  width: 300px;
  height: 300px;
  background: #C2C4E2;
  position: absolute;
  left: 1000px;
  top: 1300px;
  z-index: -1;
  animation: fluidrotate 20s ease 0s infinite;/*アニメーションの設定*/
  @keyframes fluidrotate {  
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    }
}




.container {
  padding: 192px 180px;
  background-repeat: no-repeat;
  position: relative;
}
  
h2 {
  color: var(--color-subtitle-text);
  text-align: center;
  font-size: rem(48);
  font-weight: 700;
  letter-spacing: rem(4);
  padding-bottom: 128px;
}
h3 {
  font-size: rem(32);
  font-weight: 600;
}


body {
  position: relative;
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
    .container {
      padding: 16px 80px 0 80px;
      max-width: 1200px;
      margin: 0 auto;
      .flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        img {
          width: 100px;
        }
        ul {
          display: flex;
          column-gap: 32px;
          li {
            display: flex;
            align-items: center;
            column-gap: 4px;
            img {
              width: rem(14);
            }
            a{
              color: var(--color-subtitle-text);
              font-size: rem(14);
              letter-spacing: rem(.4);
              font-weight: 700;
            }
          }
          .btn-wrapper-pc {
            display: block;
            color: var(--color-accentA);
            border-radius: 100px;
            border: 2px solid var(--color-accentA);
            box-shadow: 0px 2px 4px 0px rgba(15, 12, 12, 0.25);
            background: #FFF;
            padding: 18px 24px;
            margin-left: 0;
            margin-top: 0;
            form {
              display: flex;
              column-gap: 26px;
              align-items: baseline;
              input {
                font-size: rem(18);
                font-weight: 600;
              }
              img {
                width: 10px;
              }
            }
          }
        }
      }
      .btn-wrapper {
        display: none;
      }
    }
  }
  main {
    .kv-pc {
      display: block;
      .container {
        padding-top: 128px;
        display: flex;
        column-gap: 120px;
        justify-content: center;
        align-items: center;
        background-image: url(../img/Subtract.svg);
        background-repeat: no-repeat;
        background-size: 110%;
        background-position: bottom left;
        .main-wrapper1 {
          .card {
            width: 100%;
            max-width: 500px;
            padding-bottom: 80px;
          }
          p {
            color: var(--color-white);
            font-size: rem(14);
            font-weight: 400;
            letter-spacing: rem(2);
            border-radius: 50px;
            background: var(--color-accentA);
            box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.10);
            text-align: center;
            padding: 8px 40px;
            width: fit-content;
            margin: 0 auto;
          }
          .logo-sub {
            width: 300px;
            display: block;
            margin: 0;
            padding-top: 24px;
            margin: 0 auto;
          }
        }
        .main-wrapper2 {
          .main-ttl {
            width: 300px;
            max-width: 900px;
            padding-bottom: 92px;
          }
          .kv-tex {
            color: #777777;
            font-weight: 400;
            line-height: 2rem;
            letter-spacing: 0.0375rem;
            padding-top: 128px;
            }
          }
        }
      }
  .kv {
    display: none;
  }
  .feature {
    .container {
      background-image: url(../img/Feature.svg);
      background-size: 800px;
      background-position: 180px 100px;
      .sub-container {
        max-width: 1080px;
        margin: 0 auto;
        .pc-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 12px;
          background: #FFF;
          box-shadow: 0px 2px 4px 0px rgba(15, 12, 12, 0.25);
          padding: 48px;
          column-gap: 16px;
          .feature1,.feature3 {
            width: 100%;
            max-width: 380px;
            margin: 0;
            margin-left: calc(60% - 43vw);
          }
          .text-box {
            position: relative;
            box-shadow: none;
            padding: 0;
            width: 60%;
            h3 {
              color: var(--color-subtitle-text);
              padding-bottom: 24px;
              span {
                font-size: rem(24);
                color: #CCCCCC;
                font-weight: 500;
              }
            }
            p {
              font-size: rem(18);
              line-height: 2;
              letter-spacing: rem(1);
            }
            .sns-icon {
              display: block;
              width: 300px;
              padding-top: 40px;
              margin: 0;
            }
          }
        }
        .pc-wrapper2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 12px;
          background: #FFF;
          box-shadow: 0px 2px 4px 0px rgba(15, 12, 12, 0.25);
          padding: 48px;
          column-gap: 16px;
          flex-direction: row-reverse;
          .feature2,.feature4 {
            width: 100%;
            max-width: 380px;
            margin: 0;
            margin-top: calc(60% - 50vw);
          }
          .text-box {
            position: relative;
            box-shadow: none;
            padding: 0;
            width: 60%;
            h3 {
              color: var(--color-subtitle-text);
              padding-bottom: 24px;
              span {
                font-size: rem(24);
                color: #CCCCCC;
                font-weight: 500;
              }
            }
            p {
              font-size: rem(18);
              line-height: 2;
              letter-spacing: rem(1);
            }
            .sns-icon {
              display: block;
              max-width: 70%;
              padding-top: 40px;
              margin: 0;
            }
          }
        }
        .sub {
          margin: 128px 0;
        }
      }
    }
  }
  .problem {
    padding-top: 0;
    background-color: var(--color-back);
    .container {
      background-image: url(../img/Problem.svg);
      background-size: 800px;
      background-position: 180px 100px;
      padding: 195px 40px;
      .pc-flex {
        display: flex;
        justify-content: center;
        column-gap: 40px;
        .flex-wrapper {
          width: 320px;
          h3 {
            font-size: rem(24);
            color: #FFF;
            text-align: center;
            background-color: var(--color-accentA);
            padding: 16px 0;
            border-radius: 30px 30px 0 0;
          }
          .inner-box {
            background-color: #FFF;
            padding: 40px 40px 40px 40px;
            margin-bottom: 0;
            img {
              width: auto;
              height: 220px;
              display: block;
              margin: 0 auto;
              padding: 40px 0;
            }
            p {
              color: var(--color-inner-text);
              font-size: rem(18);
              line-height: 2;
              font-weight: 400;
              letter-spacing: rem(1.6);
              padding: 0;
              text-align: left;
            }
          }
        }
      }
      p:last-child {
        text-align: center;
        color: var(--color-inner-text);
        font-size: rem(32);
        font-weight: 600;
        letter-spacing: rem(3);
        padding: 128px 0 0 0;
        line-height: 2;
        .br-pc {
          display: none;
        }
      }
    }
  }
  .how {
    .container {
      background-image: url(../img/How\ To\ Use.svg);
      background-size: 800px;
      background-position: 180px 100px;
      h2 {
        color: var(--color-subtitle-text);
      }
      h3 {
        text-align: center;
        padding-bottom: 128px;
        line-height: 2;
      }
      .flex-wrapper {
        display: flex;
        justify-content: center;
        column-gap: 40px;
        .inner-box {
          width: 300px;
          img {
            width: 200px;
            display: block;
            margin: 0 auto;
          }
          h3 {
            color: var(--color-subtitle-text);
            padding: 40px 0 24px 0;
          }
          p {
            font-size: rem(16);
            line-height: rem(32);
            font-weight: 400;
            letter-spacing: rem(1.6);
            padding-bottom: 0;
          }
        }
      }
    }
  }
  .about {
    background-color: var(--color-back);
    .container {
      display: none;
    }
    .container-pc {
      display: block;
      padding: 195px 180px;
      background-image: url(../img/About.svg);
      background-size: 800px;
      background-position: 180px 100px;
      background-repeat: no-repeat;
      .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 128px;
        column-gap: 100px;
        max-width: 1000px;
        margin: 0 auto;
        .inner-flex-box {
          .inner-icon {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 24px;
            padding-bottom: 40px;
            img {
              width: 50px;
              margin: 0;
            }
          }
          p {
            color: var(--color-subtitle-text);
            width: 100%;
            font-size: rem(32);
            font-weight: 600;
            letter-spacing: rem(1);
            padding-bottom: 0;
            line-height: 2;
            text-align: left;
            margin-left: 74px;
          }
          .inner-text {
            color: var(--color-inner-text);
            font-size: rem(18);
            font-weight: 500;
            letter-spacing: rem(1);
            line-height: rem(40);
            text-align: left;
          }
        }
        img {
          width: 100%;
          max-width: 320px;
          mix-blend-mode: multiply;
        }
      }
      .flex-wrapper:last-child {
        padding: 0;
        .inner-flex-box {
          .inner-icon {
            img {
              width: 100%;
              max-width: 540px;
              padding-bottom: 0;
            }
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 24px;
            padding-bottom: 40px;
            img {
              width: 50px;
              margin: 0;
              padding: 0;
            }
            h3 {
              letter-spacing: 60px;
            }
          }
        }
        img {
          width: 100%;
          max-width: 540px;
          padding-bottom: 0;
        }
        .text-box {
          p {
            color: var(--color-inner-text);
            font-size: rem(18);
            font-weight: 600;
            letter-spacing: rem(1);
            line-height: 2;
            text-align: left;
            padding-bottom: 40px;
          }
          .inner-text-box {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              text-align: center;
              font-weight: 600;
              letter-spacing: rem(4);
            }
            span:first-child {
              font-size: rem(40);
              font-weight: 600;
            }
            span:last-child {
              font-size: rem(60);
              font-weight: 800;
            }
          }
        }
      }
    }
  }
  .order {
    .container {
      background-image: url(../img/Order.svg);
      background-size: 800px;
      background-position: 180px 100px;
      .order-text {
        text-align: center;
        font-size: rem(18);
        line-height: 2;
        letter-spacing: 4px;
        padding-bottom: 64px;
      }
    }
    .flex-wrapper {
      margin: 0 128px;
      max-width: 1290px;
      form {
        .inner-flex-box {
          display: table;
          table-layout: fixed;
          padding-bottom: 40px;
          width: 100%;
          white-space: nowrap;
          dt {
            font-size: rem(18);
            width: 40%;
            padding-right: 40px;
          }
          dd {
            width: 60%;
            input,select {
              border: .5px solid #AAAAAA;
              border-radius: 5px;
              padding: 16px 24px;
            }
          }
        }
        .inner-flex-box:nth-child(1) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          dt {
            letter-spacing: rem(2);
          }
          dd {
            display: flex;
            justify-content: flex-start;
            column-gap: 80px;
            .radio {
              margin: 0;
            }
            label {
              font-weight: 500;
              a {
                color: var(--color-accentA);
              }
            }
          }
        }
        .inner-flex-box:nth-child(2) {
          dd {
            input {
              width: 100%;
            }
          }
        }
        .inner-flex-box:nth-child(3) {
          dd {
            display: initial;
            input {
              width: 40%;
            }
            .name1 {
              margin-bottom: 0;
              margin-right: 16px;
            }
          }
        }
        .inner-flex-box:nth-child(4) {
          dd {
            input {
              width: 100px;
            }
          }
        }
        .inner-flex-box:nth-child(5) {
          dd {
            input {
              width: 100%;
            }
          }
        }
        .inner-flex-box:nth-child(6) {
          dd {
            input {
              width: 100px;
            }
          }
        }
        .inner-flex-box:nth-child(7) {
          dd {
            input {
              width: 100%;
            }
          }
        }
        .inner-flex-box:nth-child(2),
        .inner-flex-box:nth-child(3),
        .inner-flex-box:nth-child(4),
        .inner-flex-box:nth-child(5),
        .inner-flex-box:nth-child(6),
        .inner-flex-box:nth-child(7) {
          display: table;
        }
        .inner-flex-box:nth-child(8) {
          dd {
            display: flex;
            align-items: center;
            column-gap: 8px;
          }
        }
        .submit-btn {
          padding: 16px 24px;
          margin: 0 auto;
          border: 2px solid var(--color-accentA);
          input {
            font-size: rem(18);
            font-weight: 500;
            letter-spacing: 24px;
            color: var(--color-accentA);
          }
          img {
            width: 10px;
          }
        }
      }
    }
  }
  .question {
    background-color: var(--color-back);
    .container {
        background-image: url(../img/Question.svg);
        background-size: 800px;
        background-position: 180px 100px;
      .read-more {
        padding: 0;
        .txt-show {
          /*=========================アコーディオンのためのcss
          /*アコーディオン全体*/
          .accordion-area {
            li {
            margin: 40px 0; 
            .flex-wrapper {
              width: 80%;
              max-width: 1000px;
              margin:0 auto;
              .inner-box1 {
                display: flex;
                justify-content: center;
                /*アコーディオンタイトル*/
                .title {
                  font-size:1rem;
                  font-weight: 600;
                  }
                .title::before {
                  top:48%;
                  left: 15px;
                  transform: rotate(0deg);
                  }
                /*　closeというクラスがついたら形状変化　*/
                .title.close::before {
                  transform: rotate(45deg);
                  }
                .down {
                  width: 16px;
                  transform: rotate(-180deg);
                  margin-left: auto;
                }
                .down.active {
                  transform: rotate(0deg);
                }
              }
                /*アコーディオンで現れるエリア*/
              .inner-box2 {
                display: flex;/*はじめは非表示*/
                align-items: flex-start;
                padding: 0;
                column-gap: 8px;
              }
              }
            }
            li:first-child {
              margin-top: 0;
            }
          }
        }
        .txt-hide {
          .accordion-area {
            li {
              margin: 40px 0; 
              .flex-wrapper {
                width: 80%;
                max-width: 1000px;
                margin:0 auto 40px auto;
                .inner-box1 {
                  display: flex;
                  justify-content: flex-start;
                  /*アコーディオンタイトル*/
                  .title {
                    position: relative;/*+マークの位置基準とするためrelative指定*/
                    cursor: pointer;
                    font-size:1rem;
                    font-weight: 600;
                    padding: 16px 24px;
                    transition: all .5s ease;
                    }
                  .title::before {
                    top:48%;
                    left: 15px;
                    transform: rotate(0deg);
                    margin-left: auto;
                    }
                  /*　closeというクラスがついたら形状変化　*/
                  .title.close::before {
                    transform: rotate(45deg);
                    }
                  .down {
                    width: 16px;
                    transform: rotate(-180deg);
                  }
                  .down.active {
                    transform: rotate(0deg);
                  }
                  }
                  /*アコーディオンで現れるエリア*/
                .inner-box2 {
                  display: flex;/*はじめは非表示*/
                  padding: 40px 16px;
                  column-gap: 8px;
                  }
                }
            }
            // li:first-child {
            //   margin-top: 0;
            // }
          }
        }
        // さらに表示*************
          button.more {
          width: 320px;
          padding-top: 64px;
        }
        button.more::after {
          content: "さらに表示";
          transition: .1s;
          -webkit-transition: .1s;
        }
        button.more.on-click::after{
          content: "閉じる";
        }
        // ****************
      }
    }
  }
  .company {
    padding-bottom: 0px;
    .container {
      background-image: url(../img/Company.svg);
      background-size: 800px;
      background-position: 180px 100px;
      p {
        font-size: rem(18);
        text-align: center;
      }
      .flex-wrapper {
        display: flex;
        justify-content: center;
        column-gap: 240px;
        img {
          display: block;
          width: 250px;
          margin: 0;
          }
        .text-wrapper {
          .inner-flex-wrapper {
            display: table;
            table-layout: fixed;
            padding: 40px 0;
            font-size: rem(18);
            letter-spacing: 2px;
            line-height: 24px;
            dt {
              display: table-cell;
              width: 120px;
              }
            dd {
              display: table-cell;
              width: 300px;
              line-height: 2;
              }
            }
          }
        }
      }
    }
    }
    footer {
      padding: 16px;
      background-color: var(--color-accentA);
    .container {
      .flex-wrapper {
        column-gap: 160px;
      }
      small {
        padding-top: 40px;
      }
    }
  }
  }
}

/***************************************************
ここらかprivacyのページ
 **************************************************/

.privacy {
  .container {
    background-image: url(../img/Privacy.svg);
    background-size: 300px;
    background-position: center 100px;
    padding-top: 124px;
    padding-bottom: 64px;
    li {
      font-size: rem(14);
      letter-spacing: 2px;
      line-height: 24px;
      span {
        display: inline-block;
        font-size: rem(16);
        font-weight: 600;
        padding-bottom: 12px;
      }
    }
    li:not(li:nth-child(8)) {
      padding-bottom: 40px;
    }
  }
}



@media screen and (min-width: 960px) {
  .privacy {
    .container {
      background-image: url(../img/Privacy.svg);
      background-size: 800px;
      background-position: 180px 110px;
      padding-top: 192px;
      padding-bottom: 192px;
      li {
        font-size: rem(16);
        letter-spacing: 2px;
        line-height: 24px;
        span {
          display: inline-block;
          font-size: rem(18);
          font-weight: 600;
          padding-bottom: 12px;
        }
      }
      li:not(li:nth-child(8)) {
        padding-bottom: 80px;
      }
    }
  }
}